/* CustomHeader.module.css */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000; /* Ensures the header is above other content */
    padding: 20px 10px ; /* Adjust padding to your design */
    box-shadow: none; /* No shadow initially */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

  }
  
  .header.scrolled {
    background-color: #2b2d33; /* Transition to this color when scrolled */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional shadow for visibility */
  }

  .brand img{
    width: 70px; 
    height: 50px;
    border-radius: 50%; 
  }
 
  
  .navList {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 15px; /* Space between items */
  }
  
  .navLink {
    text-decoration: none;
    color: white; /* Adjust the color to match your design */
    font-size: 16px;
    padding: 10px 0; /* Padding for clickable area */
    transition: color 0.3s;
  }
  
  .navLink:hover,
  .navLink:focus {
    color: #f75023; /* Highlight color on hover/focus */
  }
  