/* Contact.module.css */
.contactContainer {
    position: relative;
    padding: 50px;
    background-color: #2b2d33;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    margin: 40px auto;
}

.heading {
    color: #f75023;
    margin-bottom: 25px;
    font-size: 2.5rem;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

.contactInfo {
    display: inline-block;
    background: transparent;
    padding: 10px;
    border: 2px solid #f75023;
    border-radius: 5px;
    margin-top: 20px;
}

.icon {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    fill: #f75023;
}

.contactLink {
    color: #f75023;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contactLink:hover,
.contactLink:focus {
    color: #ffffff;
    /* Change color on hover/focus */
}


.imageBottomLeftt {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 230px;
    /* Adjust size as necessary */
    transition: all 0.3s ease;
}

.imageBottomRight {
    position: absolute;
    bottom: 80%;
    right: 30%;
    max-width: 150px;
    /* Adjust based on your image size */
    /* More styles if needed */
}